* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    font-family: Roboto;
}

.wrapper{
    display: flex;
    position: absolute;
    z-index: -1;
}
.navbar{
    background-color: transparent; 
}
.container nav {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999;
    width: 100%;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}
.navbar-collapse{
    color: #656565;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;
    justify-content: right;
}
#logo{
    width: 250px;
    height: 50px;
}
.whatsappBtn{
    background-color: #000000;
        color: white;
        margin-top: 10px;
        font-size: 13px;
        font-weight: 400;
        width: 130px;
        height: 35px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background: #000000;
        margin: 0 auto;
    }

#whatsapplogo{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.arkaNokta{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    }
.nokImg{
    height: 300px;
}

.sliderFirst{
    display: flex;
    align-items: center;
    margin-top: 76px;
}
.sliderBottom{
    border: 2px solid #000000;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 600;
    font-size: 14px;
}
#slnavRight button {
    color: #7f7e7e;
}
#slnavRight button:hover {
    color: #000000;
}
#slnavRight button:focus {
    color: #000000;
}
#slnavRight button:active {
    color: #000000;
}
.sliderBottom button {
    font-weight: 600;
    font-size: 14px;
}
.firstSection{
    display: flex;
    margin-top: 40px;
    align-items: center;   
}
#hak1{
font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
color: #000000;
display: inline-block;
margin-top: 15px;
margin-left: 10px;
}
#card1{
    border: 0px;
}
.firstsectionDivs{
    /* margin-right: 20px; */
    display: flex;
    align-items: center;
}
.ArText{
    background-color: transparent;
    border: 0px;
}
.secondSection{
    display: flex;
    margin-top: 90px;
    align-items: center;
}
.secondSectionDivs{
    display: flex;
    align-items: center;
}
.cardText{
    text-align: justify;
}
.thirdSection{
    margin-top: 40px;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.fifthSecP{
background-color: black;
color:white;
text-align: center;
display: inline-block;
padding: 3px 12px;
}
.fifthSection{
    text-align: center;
    align-items: end;
}
.fifthSectionDivs{
    align-items: center;
}

.sixthSection{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.sixthsectionDivs{
    /* margin-right: 20px; */
    display: flex;
    align-items: center;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}
.corousel-item {
    position: relative;
    color: white;
    text-align: center;
}
.img-text {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    width: 350px;
}
.img-text h1 {
    font-size: 65px;
    letter-spacing: -2px;
    line-height: 1;
}

.img-text p {
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 18px;
    line-height: 1.5;
}
ul li {
    list-style: none;
}
.flex {
    display:flex;
}

.btn-see-all button {
    width: 271px;
    height: 44px;
    background-color: #000000;
    color: white;
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 50px auto;
}
.btn-see-all button:hover {
    background-color: #656565;
    border: 1px solid #656565;
}
footer {
   display: flex;
    margin-top: 150px;
}

.footer input {
    display: block;
    background-color: #F1F1F1;
    border: 0px;
    margin-top: 10px;
    font-size: 15px;
    padding: 8px 20px;
    color: #000000;
    width: 371px;
    height: 44px;
}
.footer input::placeholder {
    color: #666666;
    font-weight: 400;
}
.footer-txt {
    width: 350px;
    text-align: right;
    margin-top: 20px;
    
}
.footer button {
    width: 371px;
    height: 44px;
    background-color: #000000;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}
.footer button:hover {
    background-color: #656565;
    border: 1px solid #656565;
}

.footer-social ul li {
    margin-top: 5px;
}
ul li  a{ 
    color: #000000;
    text-decoration: none;
}
.footer-social-icons a {
    color: #000000;
}
.footer-social-icons a:hover {
    color: #656565;
}

.footer-social-icons .fab {
    font-size: 20px;
    margin-right: 10px;
}

.navbar-collapse li a {
    text-align: center;
    margin-top: 10px;
    margin-right: 15px;
}
.navbar-collapse li:hover a{
    color: #000000;
    font-weight: 700;
}
 
.navbar-collapse li a:focus {
    color: #000000;
    font-weight: 600;
} 

.ft-top {
    margin-bottom: 30px;
}
.fifthSectionDivs img {
    width: 100%;
}
.flagSection {
    margin-top: -10px !important;
}.flagSection img {
    margin-top: 30px;
}

/* Hakkimizda */
.land-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.land-main img {
    width: 100%;
    max-width: 1300px;
    height: auto;
    padding-top: 100px;
    max-height: 450px;
    justify-content: center;
}

.land-main .row-btm {
   margin-top: 20px;
}
.row-btm .footer-social-icons .fab {
    padding-right: 10px;
}
.row-btm .footer-social-icons {
    margin-top: 5px;
}
.about-desc {
    text-align: right;
    font-size: 18px;
    padding-left: 20px;
}
.about-sec {
    margin-top: 200px;
    position: relative;
}
.about-sec .about-txt-img {
    position: relative;
}
/* put space bottom */
.about-sec .col{
    margin-bottom: 200px
}
/* align img left */
.about-txt-img img{
    position: absolute;
    width: 100%;
    max-width: 650px;
    height: auto;
}
.about-flag img {
    position: absolute;
    width: 100%;
    max-width: 320px;
    height: auto;

}
.row-btm h2 {
    font-weight: 700;
}

/*HİZMETLERİMİZ*/

.land-title img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin-top: 100px;
    padding: 20px;
}
.services .box {
    width: 100%;
    height: 100%;
    background: #333;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    transition: 0.5s;
    color: white;
}
.box-line {
    width: 100%;
    max-width: 350px;
    height: 1px;
    background-color: white;
    margin: 20px auto;
}
.box-text {
    padding: 20px;
}
.box-title {
    padding-top: 20px;
}
.vector-link img{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 10px;
    padding-right: 10px;
}
.services {
    margin-top: 180px;
    margin-bottom: 200px;
}
.services .row .col-12{
    margin-top: 50px;
}
.box-text p {
    font-size: 18px;
}
/*PROJELERİMİZ*/
.pr-card  {
    background: #333333;
    color: white;
    margin-bottom: 50px;
    padding: 20px;
}
.pr-container {
    margin-bottom: 200px;
}

.pr-line {
    max-width: 350px;
    height: auto;
    width: 100%;
    background-color: white;
    height: 1px;
    margin: 25px auto;
}
.proje-title {
    padding-bottom: 150px;
}

.rp-img img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-top: 40px;
    margin-left: 20px;
    padding-right: 20px;
}
.pr-txt {
    padding-top: 30px;
}
.pr-txt .pr-btm {
    padding: 0 25px; 
}

.pr-txt p {
    font-size: 18px;
    padding-top: 25px;
}
.pr-txt h2 {
    font-weight: 700;
}
.ok-işareti a {
    color: white;
    font-size: 25px;
}

/*PROJE DETAYI*/
.pr-card-detail {
    margin-top: 150px;
    margin-bottom: 200px;
}

.pr-card-detail .card {
    background: #333333;
    margin-bottom: 50px;
    margin-top: 60px;
    width: 35rem;
    margin: 0 auto;
}
.pr-card-detail .row .col{
  margin: 0 auto;  
}
.pr-card-detail .card-body {
    padding: 25px;
}
.pr-card-detail .card-text {
    padding: 20px 80px 20px 0px;
}
.info-title h2{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 50px;
}
/* Mobile  ~ Responsive*/
@media only screen and (max-width: 1200px) {
    .about-desc {
            font-size: 16px;
            text-align: left;
        }
                .about-flag img {
                    padding-right: 100px;
                }
                .pr-card-detail .card {
                    width: 25rem;
                }
}
@media only screen and (max-width: 1100px) {
    .container nav {
            padding-left: 20px;
            padding-right: 30px;
        }
                .navbar-collapse li a {
                    text-align: center;
                    margin-top: 10px;
                    margin-right: 0px;
                }
        
                
}
@media only screen and (max-width: 991px) {
    .about-desc {
            margin-top: 400px;
        }
}
@media only screen and (max-width: 1000px) {
    .img-text h1 {
        font-size: 40px;
    }

    .img-text p {
        font-size: 16px;
        width: 250px;
        margin-left: 50px;
    }

    .img-text {
        text-align: center;
        left: 50%;
    }

    .firstSection {
        display: flex;
        flex-direction: column;
    }

    .secondSection {
        display: flex;
        flex-direction: column-reverse;
    }

    .thirdSectionDivs {
        justify-content: center;
        align-items: center;
    }
    .thirdSectionDivs p:nth-child(1) {
        font-size: 10vw !important;
    }
    .thirdSectionDivs p:nth-child(2) {
        font-size: 12px !important;
    }

    .fifthSectionDivs img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .fifthSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sixthSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flagSection .d-flex {
        width: 90% !important;
    }

    .flagSection .parag {
        margin-left: 10px !important;
        padding-top: 10px !important;
    }

    .flagSection .parag .title {
        margin-left: 0;
        font-size: 16px !important;
    }

    .flagSection .parag .author {
        font-size: 14px !important;
        padding-bottom: 25px !important;
    }
    .flagSection img {
        width: 300px;
        height: 160px;     
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-txt {
        text-align: center;
    }

    .eray-ates-mail {
        font-size: 14px;
    }

    .footer-right p {
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
    }

    .footer-tp {
        display: flex;
    }

    .solok img {
        width: 30px;
    }

    .fifthSection {
        flex-direction: column-reverse;
    }
        .bigHak {
            margin-top: 30px;
            margin-left: 50px;
        }
    
        .bigİş {
            margin-left: 50px;
            margin-bottom: 30px;
        }
        .about-desc {
            margin-top: 420px;
        }
        .pr-card-detail .card {
            width: 24rem;
        }
}
@media screen and (max-width: 900px) {
    .sliderBottom {
            display: none;
        }
        .footer-right img {
            display: none;
        }
        .work-sec p {
            font-size: 14px;
        }
        .btn-see-all button {
            font-size: 14px;
            width: 200px;
        }
        .footer-social .row {
            justify-content: center;
        }
        .services {
            margin-top: 80px;
        }
        .rp-img img {
            margin: 0;
            padding: 0; 
        }
        .pr-card  {
            margin-bottom: 50px;
        }
        .pr-txt .pr-btm {
            padding: 10px 25px;
        }
        .pr-card-detail .card {
            width: 28rem;
        }
        .pr-card-detail .card-text {
            padding: 20px 20px 20px 0px;
        }
        
}
@media screen and (min-width: 900px) {
.footer-txt {
        margin-right: 50px;
    }
}
@media screen and (max-width: 768px) {
        .img-text h1 {
            font-size: 32px;
        }
        .img-text p {
            font-size: 14px;
        }
        #logo {
        width: 200px;
            height: 40px;
        }
       
        .sliderFirst img {
            width: 700px;
            height: 300px;
            object-fit: cover;
        }
        .footer input {
            width: 300px;
        }
        .footer button {
            width: 300px;
        }
        .footer-social .row {
            padding: 0 20px;
        }
        .row-btm .footer-social-icons .fab {
            padding:0;
            font-size: 14px;
            margin-bottom: 10px;
        }
        .about-sec {
            margin-top: 100px;
            position: relative;
        }
        .pr-txt p {
            font-size: 16px;
        }

        .pr-txt h2 {
            font-weight: 700;
            font-size: 20px;
        }
        .pr-card-detail .card {
            width: 22rem;
            margin: 0 auto;
        }
        .pr-info .row h5 {
            font-size: 18px;
        }
        .pr-info .row p {
            font-size: 14px;
        }
                
}    
@media screen and (min-width: 768px ) and (max-width: 900px) {
    .pr-card-detail .card {
        width: 25rem;
        margin: 0 auto;
    }

}
@media screen and (max-width: 600px) {
    .about-desc {
            margin-top: 320px;
            padding-left: 0 20px;
        }
                .pr-card-detail .card {
                    width: 23rem;
                    margin: 0 auto;
                }
}

